body {
    background-image: url("assets/images/bluetheater.jpg");
    background-size: cover;
    background-attachment: fixed;
    /* background-color:  rgba(52, 53, 52, 0.979); */
}

nav {
    box-shadow: rgba(114, 168, 248, 0.7) 2px 8px 20px 8px;
    position: fixed;
    top: 0;
    z-index: +2;
}

#logo {
    font-size: 50px;
    font-family: 'Khand', sans-serif;
    text-decoration-color:  rgb(41, 122, 243);
    color: rgb(127, 177, 253);
    text-shadow: aqua 2px 2px;
}

.hero{
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./assets/images/moviePost.jpeg");
    background-size: cover;
    background-position: center;
    opacity: 50%;
}

.input-field, .row {
    background-image: url("./assets/images/rowBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
}

.col {
    background: transparent;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    text-rendering: auto;
    padding-top: 20px;
    z-index: +1;
    box-shadow: rgba(114, 168, 248, 0.7) 2px 8px 20px 20px;
    color: rgb(127, 177, 253);
}

button {
    z-index: -2;
    box-shadow: rgba(0, 0, 0, 0.55) 2px 8px 2px 10px;
    color: rgb(48, 99, 175);
}

#m-or-t, #relYear {
    color: rgb(26, 73, 145);
    font-family: 'Pontano Sans', sans-serif;
    font-weight: bolder;
    font-size: larger;
   
}

.year {
    float: left;
}

#typeText {
    margin-bottom: 40px;
    background-color: rgba(197, 151, 151, 0.541);
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.55) 2px 8px 2px 10px;
}

#input-genre {
    position: relative;
    bottom: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.dropdown-content {
    max-height: 350px !important;
    overflow-y: auto !important;
    backface-visibility: hidden !important;
 }

 .picBoarder{
     
     border-style: groove;
     border-color: rgb(127, 177, 253);;
     box-shadow: rgba(0, 0, 0, 0.55) 1px 4px 1px 5px;
 }

 .movie-name{
     font-weight: bolder;
     text-align: center;
 }

 #movieDetails, #movieReleaseDate{
     font-size: 15px;
     font-weight: bold;
 }
   
 #fromJS {
    background-color: rgba(197, 151, 151, 0.541);
    position: relative;
    bottom: 30px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.55) 2px 8px 2px 10px;
 }

 .col {
     background: transparent;
 }

 #movie-name, .movie-name { 
    font-family: 'Khand', sans-serif;
    justify-content: center;
    text-align: center;
    color: white;
    padding-top: 15px;
 }
 
 #movieDetails {
     float: right;
 }

 #movieDetails {
    float: right;
}

#inputRow {
    padding: 10px;
}

#genCol, #yearCol {
    margin-left: 10px;
}

 
